<div class="headerfake">
      <div id="contentfake" class="container">

      <div class="img_fake">
        <img src="
            <% if @user.avatar %>
            <%= @user.avatar %>
            <% else %>
            /assets/louisloode.jpg
            <% end %>" alt="<%= @user.name + " Avatar" %>" width="100%" height="auto" />
      </div>

      <p class="name">


          <%= "@" + @user.name %></p>


      <div class="navfake">
          <ul>
            <li>
              <p class="title">Pertinence</p>
              <div class="content">
                  <p class="star star-full"></p>
                  <p class="star star-full"></p>
                  <p class="star star-full"></p>
                  <p class="star star-full"></p>
                  <p class="star star-empty"></p>
               </div>
            </li>
            <a class="linkpage" href="<%= show_user_path(@user) %>">
            <li>
              <p class="title">Publications</p>
              <p class="nb"><%= @user.posts.count %></p>
            </li>
            </a>
            <a class="linkpage" href="<%= followers_user_path(@user) %>">
            <li>
              <p class="title">Followers</p>
              <p class="nb"><%= @user.followers.count %></p>
            </li>
            </a>
            <a class="linkpage" href="<%= following_user_path(@user) %>">
            <li>
              <p class="title">Following</p>
              <p class="nb"><%= @user.following.count %></p>
            </li>
            </a>
            <a class="linkpage" href="<%= favorites_user_path(@user) %>">
            <li>
              <p class="title">Favoris</p>
              <p class="nb"><%= @user.favorites.count %></p>
            </li>
            </a>

          </ul>
          <div class="btnfake">
                <%= link_to 'Éditer le profil', edit_user_registration_path, :class => "btnedit" %>
          </div>
      </div>
    </div>

</div>

            <div id="part" class="container gover">
                <div id="fixprofil" class="row">
                    <div class="col-xs-12 col-sm-2 col-md-3">
                        <%= render partial: 'shared/profil_card', locals: {user: @user} %>

                    </div>
                    <div class="col-md-9">
                        <div class="name_profil">
                            <%= "@" + @user.name %>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <%= render partial: 'shared/stats', locals: {user: @user} %>
                            </div>
                        </div>
                        <div class="container_favorites">
                            <div id="listfavorites" class="row col-md-12">
                              <% if @favorites.size > 0 %>
                                <% @favorites.each do |favorite| %>
                                  <%= link_to posts_path(:post_id => favorite.post_id) do %>
                                    <%= render partial: 'posts/card', locals: {post: Post.find(favorite.post_id), user: @user} %>
                                  <% end %>
                                <% end %>
                              <% else %>
                              <p class="zerorelation text-center">Vous n'avez pour l'instant aucun favoris</p>
                              <% end %>
                            </div>
                        </div>
                    </div>
                </div>
