<div class="headerfake">
      <div id="contentfake" class="container">
     
      <div class="img_fake">
        <img src="
            <% if @user.avatar %>
            <%= @user.avatar %>
            <% else %>
            /assets/louisloode.jpg
            <% end %>" alt="<%= @user.name + " Avatar" %>" width="100%" height="auto" />
      </div>

      <p class="name">


          <%= "@" + @user.name %></p>


      <div class="navfake">
          <ul>
            <li>
              <p class="title">Pertinence</p>
              <div class="content">
                  <p class="star star-full"></p>
                  <p class="star star-full"></p>
                  <p class="star star-full"></p>
                  <p class="star star-full"></p>
                  <p class="star star-empty"></p>
               </div>
            </li>
            <li>
              <p class="title">Publications</p>
              <p class="nb"><%= @user.posts.count %></p>
            </li>
            <li>
              <p class="title">Followers</p>
              <p class="nb"><%= @user.followers.count %></p>
            </li>
            <li>
              <p class="title">Following</p>
              <p class="nb"><%= @user.following.count %></p>
            </li>
            <li>
              <p class="title">Favoris</p>
              <p class="nb">0</p>
            </li>

          </ul>
          <div class="btnfake">
                <%= link_to 'Éditer le profil', edit_user_registration_path, :class => "btnedit" %>
          </div>
      </div>
    </div>

</div>

<div id="part" class="container gover">
    <div id="fixprofil" class="row">
        <div class="col-xs-12 col-sm-2 col-md-3">
            <%= render partial: 'shared/profil_card', locals: {user: @user} %>
        </div>
        <div class="col-md-9">
            <div class="name_profil">
                <%= "@" + @user.name %>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="container_view" >

                          <div class="box">
                              <p class="title">Pertinence</p>
                              <div class="content">
                                  <p class="star star-full"></p>
                                  <p class="star star-full"></p>
                                  <p class="star star-full"></p>
                                  <p class="star star-full"></p>
                                  <p class="star star-empty"></p>
                              </div>
                          </div>

                            <div class="box boxfocus">
                            <a class="linkpage" href="<%= show_user_path(@user) %>">
                                <p class="title">Publications</p>
                                <p class="content"><%= @user.posts.count %></p>
                            </a>
                            </div>

                            <div class="box">
                             <a class="linkpage"  href="<%= followers_user_path(@user) %>">
                                <p class="title">Followers</p>
                                <p class="content"><%= @user.followers.count %></p>
                             </a>
                            </div>

                            <div class="box">
                            <a class="linkpage"  href="<%= following_user_path(@user) %>">
                                <p class="title">Following</p>
                                <p class="content"><%= @user.following.count %></p>
                            </a>
                            </div>

                          <div class="box">
                              <p class="title">Favoris</p>
                              <p class="content">0</p>
                          </div>

                           <% if @user != current_user %>
                             <div id="follow_form">
                             <% if current_user.following?(@user) %>
                               <%= render 'shared/unfollow' %>
                             <% else %>
                               <%= render 'shared/follow' %>
                             <% end %>
                             </div>
                           <% else %>
                             <div class="box">
                                 <%= link_to 'Éditer le profil', edit_user_registration_path, :class => "btnedit" %>
                             </div>
                           <% end %>

                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                  <% if @posts.size > 0 %>
                    <% @posts.each do |post| %>
                      <%= render partial: 'posts/card', locals: {post: post, user: @user} %>
                    <% end %>
                  <% else %>
                  <p class="text-center">Vous n'avez pour l'instant rien publié</p>
                  <% end %>
                </div>

                <div class="col-md-5">
                  <%= render partial: 'posts/form'%>
                </div>
            </div>

        </div>
    </div>
</div>
