<%= render partial: 'shared/stats_bar', locals: {user: @user} %>

<div id="part" class="container gover">
    <div id="fixprofil" class="row">
        <div class="col-xs-12 col-sm-2 col-md-3">
            <%= render partial: 'shared/profil_card', locals: {user: @user} %>
        </div>
        <div class="col-md-9">
            <div class="name_profil">
                <%= "@" + @user.name %>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <%= render partial: 'shared/stats', locals: {user: @user} %>
                </div>
            </div>
            <div class="row">
                <div id="list_posts" class="col-md-7">
                  <% if @posts.size > 0 %>
                    <% @posts.each do |post| %>
                      <%= render partial: 'posts/card', locals: {post: post, user: @user} %>
                    <% end %>
                  <% else %>
                    <% if @user == current_user %>
                      <p class="zerorelation text-center">Vous n'avez pour l'instant rien publié</p>
                    <% else %>
                      <p class="zerorelation text-center"><%= @user.name %> n'a pour l'instant rien publié</p>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-md-5">
                  <%= render partial: 'posts/form'%>
                </div>
            </div>

        </div>
    </div>
</div>
