<div class="container_profil">
    <div class="img_profil ">
      <%= link_to show_user_path(:user_id => user.id) do %>
        <img src="<%= user.avatar.present? ? user.avatar : '/assets/Avatar_default.png' %>" alt="<%= user.name + " Avatar" %>" width="100%" height="100%" />
      <% end %>
    </div>
    <div class="description_profil ">
        <p>
            <%= user.biography %>
        </p>
    </div>
    <ul>
      <% if !user.github.blank? %>
      <li class="fa" aria-hidden="true">
          <img src="/assets/github.svg">
          <a href="<%= user.github %>" title=<%= user.name + "'s Github" %>><%= user.github %></a>
      </li>
      <% end %>
      <% if !user.website.blank? %>
      <li class="fa" aria-hidden="true">
          <img src="/assets/website.svg">
          <a href="<%= user.website %>" title="<%= user.name + "'s Website" %>"><%= user.website %></a>

      </li>
      <% end %>
    </ul>
</div>
