<div class="container_view">
        <div class="box">
            <p class="title">Pertinence</p>
            <div class="content">
                <p class="star star-full"></p>
                <p class="star star-full"></p>
                <p class="star star-full"></p>
                <p class="star star-full"></p>
                <p class="star star-empty"></p>
            </div>
        </div>

          <div class="box<% if action_name === 'show' %> boxfocus<% end %>">
          <a class="linkpage" href="<%= show_user_path(@user) %>">
              <p class="title">Publications</p>
              <p class="content"><%= @user.posts.count %></p>
          </a>
          </div>

          <div class="box<% if action_name === 'followers' %> boxfocus<% end %>">
              <%= link_to followers_user_path(@user), class: "linkpage" do %>
                <p class="title">Followers</p>
                <p class="content"><%= @user.followers.count %></p>
              <% end %>
          </div>

          <div class="box<% if action_name === 'following' %> boxfocus<% end %>">
            <%= link_to following_user_path(@user), class: "linkpage" do %>
              <p class="title">Following</p>
              <p id ="followers" class="content"><%= @user.following.count %></p>
            <% end %>
          </div>

        <div class="box<% if action_name === 'show_favorites' %> boxfocus<% end %>">
              <%= link_to favorites_user_path(@user), class: "linkpage" do %>
                <p class="title">Favoris</p>
                <p id ="favorite_count" class="content"><%= @user.favorites.count %></p>
              <% end %>
        </div>
        <% if current_user %>
         <% if @user != current_user %>
           <div id="follow_form">
           <% if current_user.following?(@user) %>
             <%= render 'shared/unfollow' %>
           <% else %>
             <%= render 'shared/follow' %>
           <% end %>
           </div>
         <% elsif current_user %>
           <div class="box">
               <%= link_to 'Éditer le profil', edit_user_registration_path, :class => "btnedit" %>
           </div>
         <% end %>
        <% end %>

</div>
