<article>
    <div class="row metadata">
        <div class="profil_img col-md-2">
            <img src="
            <% if !@user.avatar.present? %>
            <%= @user.avatar %>
            <% else %>
            /assets/louisloode.jpg
            <% end %>" alt="<%= @user.name + " Avatar" %>" width="100%" height="auto" />
        </div>
        <div class="col-md-8">
            <p class="name_post"><%= "@" + post.user.name %></p>
            <p class="categorie_@post">
              <% post.categories.each do |category| %>
                <span><%= link_to '#' + category.slug, category_path(:id => category.id) %></span>
              <% end %>
            </p>
        </div>
        <div class="col-md-2">
            <p class="time_post">
                <%= how_much_time(post.created_at) %>
            </p>
        </div>
    </div>
    <div class="row content">
        <div class="col-md-12">
            <div class="content_post">
              <p><%= post.message%></p>

            </div>
            <div class="iframe_post">
                <a href="<%= post.url %>" title="<%= post.url %>">
                    <img src="<%= post.og_images %>" width="100%" height="300px" />
                </a>
                <h3><%= post.og_title%></h3>
                <p><%= post.og_description%></p>
                <small><%= post.url%></small>
            </div>
        </div>
    </div>
    <div class="row action">
        <div class="col-md-6 rank">
            <ul class="notation">

              <%= link_to rates_create_path(:post_id => post.id, :note => 1), remote: true do %>
                <li id="star1" class="star star-empty" aria-hidden="true">
                </li>
              <% end %>
              <%= link_to rates_create_path(:post_id => post.id, :note => 2), remote: true do %>
                <li id="star2" class="star star-empty" aria-hidden="true">
                </li>
              <% end %>
              <%= link_to rates_create_path(:post_id => post.id, :note => 3), remote: true do %>
                <li id="star3" class="star star-empty" aria-hidden="true">
                </li>
              <% end %>
              <%= link_to rates_create_path(:post_id => post.id, :note => 4), remote: true do %>
                <li id="star4" class="star star-empty" aria-hidden="true">
                </li>
              <% end %>
              <%= link_to rates_create_path(:post_id => post.id, :note => 5), remote: true do %>
                <li id="star5" class="star star-empty" aria-hidden="true">
                </li>
              <% end %>
              
            </ul>

        </div>
        <div class="col-md-6 favoris">
            <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</article>
