
<div id="fixfoooter">
<%= form_for :post, url: post_path(@post), method: :patch, html: {class: "fixnewpost add_post form-signup"} do |f| %>

  <h2>Modifier cette publication</h2>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :url, :class => "sr-only" %><br />
    <%= f.url_field :url, :class => "form-control", placeholder: "Ressource" %>

    <%= f.label :message, :class => "sr-only" %><br />
    <%= f.text_area :message, :class => "form-control", placeholder: "Message" %>

    <%= f.label :category_id, :class => "sr-only" %><br>

    <select name="post[category_ids][]" id="post_category_id" class="selectpicker form-control" multiple data-max-options="3" data-live-search="true" title="Sujet" data-selected-text-format="count > 2" data-actions-box="true" data-multiple-separator=", " data-selected-text-format="values">
      <% @hierarchy.each do |parent| %>
      <!-- <%= @post.category_ids %> -->
      <option <% if @post.category_ids.include? parent.id %>selected<% end %> value="<%= parent.id %>" data-tokens="<%= parent.id %>"><b><%= parent.name %></b></option>
        <% parent.subcategories.each do |category| %>
          <option <% if @post.category_ids.include? category.id %>selected<% end %> value="<%= category.id %>" data-tokens="<%= category.id %>"><%= category.name %></option>
        <% end %>
        <option data-divider="true"></option>
      <% end %>
    </select>




  <p>
    <%= f.submit "Modifier", :class => "btn btn-lg btn-primary btn-block" %>
  </p>


<% end %>

</div>

