<h1>Listing categories</h1>

<%= link_to 'Create Category', new_cat_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
  </tr>

  <% @cats.each do |cat| %>
    <tr>
      <td><%= cat.name %></td>
      <td><%= cat.slug %></td>
      <td><%= link_to 'Show', cat_path(cat) %></td>
      <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
      <td><%= link_to 'Destroy', cat_path(cat),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
