<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @cat.slug %>
</p>

<p>
  <strong>Public:</strong>
  <%= @cat.public %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cat.description %>
</p>

<%= link_to 'Back', cats_path %>
