<h1>New Cat</h1>

<%= form_for :category, url: categories_path do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :public %><br>
    <%= f.text_area :public %>
  </p>

  <p>
    <%= f.label :parent_id %><br>
    <%= f.collection_select :parent_id, Category.where(public: true), :id, :name,
                    :include_blank => "Nothing selected" %>
    <%= f.select :parent_id, grouped_options_for_select(Category.for_select), :include_blank => true , :id => nil %>
  </p>

  <select class="selectpicker form-control" multiple data-max-options="3" data-live-search="true" title="Choose one of the following..." data-selected-text-format="count > 2" data-actions-box="true">
    <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
    <option data-divider="true"></option>
    <option data-tokens="mustard">Burger, Shake and a Smile</option>
    <option data-tokens="frosting">Sugar, Spice and all things nice</option>
  </select>


  <p>
    <%= f.submit %>
  </p>

  <%= link_to 'Back', categories_path %>
<% end %>
