<%= form_for :category, url: categories_path, html: {class: "form-signup"} do |f| %>

  <h1>New Category</h1>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name, :class => "sr-only" %><br />
    <%= f.text_field :name, :class => "form-control", placeholder: "Name" %>

    <%= f.label :description, :class => "sr-only" %><br />
    <%= f.text_area :description, :class => "form-control", placeholder: "Message" %>

    <%= f.label :public, :class => "sr-only" %><br>
    <%= f.select :public, [['true', true], ['false', false]], {}, { :class => 'form-control' } %>


    <%= f.label :parent_id, :class => "sr-only" %><br>
    <%= f.collection_select :parent_id, Category.where(public: true, parent_id: nil), :id, :name, {:include_blank => "Nothing selected"}, {:class=>'form-control'} %>

  <p>
    <%= f.submit "New category", :class => "btn btn-lg btn-primary btn-block" %>
  </p>

  <%= link_to 'Back', categories_path %>
<% end %>
