<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @category.slug %>
</p>

<p>
  <strong>Public:</strong>
  <%= @category.public %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Back', categories_path %>
